<div [class]="selectedTheme">
  <comp-navbar (selTheme)="gettheme($event)"></comp-navbar>
    <div class="container mt-5">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Email address</label
        >
        <input
          type="email"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="name@example.com"
        />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label"
          >Example textarea</label
        >
        <textarea
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="3"
        ></textarea>
      </div>
      <div class="mb-3">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Outline form field</mat-label>
          <input matInput placeholder="Placeholder" />
          <mat-icon matSuffix>account_box</mat-icon>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
